html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #F0FFE9;
}

#wrapper {
  min-height: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#header {
  background-color: #DBFFB8;
  color: #000;
  height: 70px;
  width: 100%;
  padding: 10px;
}

h1 {
  font-size: 50px;
  font-weight: 900;
  text-align: center;
  margin-top: 4px;
}

#content-section {
  padding: 10px;
  padding-bottom: 70px; /* Height of the footer */
}

#add-new-item {
  text-align: center;
  width: 300px;
  color: #000;
  font-weight: 900;
  margin-top: 10px;
  margin-bottom: 10px;
}

.add-button {
  width: 40px;
}

li {
  width: 650px;
  height: 40px;
  background-color: #AFC1C1;
  margin: auto;
  margin-top: 20px;
  text-align: center;
  line-height: 39px;
}

.delete {
  cursor: pointer;
  float: left;
  margin-left: 10px;
  margin-top: 1px;
  font-size: 30px;
}

.item-name {
  font-size: 30px;
  font-style: italic;
}

.need {
  cursor: pointer;
  background-color: #FF0000;
  color: #000;
  float: right;
  margin-right: 10px;
  margin-top: 4px;
  height: 32px;
  width: 80px;
  line-height: 29px;

}

.got {
  cursor: pointer;
  background-color: #21D41C;
  color: #000;
  float: right;
  margin-right: 10px;
  margin-top: 4px;
  height: 32px;
  width: 80px;
  line-height: 29px;
  display: none;
}

#footer {
  position: absolute;
  height: 70px; /* Height of the footer */
  width: 100%;
  background-color: #DBFFB8;
  color: #000;
  bottom: 0;
}

.start-a-new-list {
	font-size: 20px;
	width: 200px;
	margin-top: 20px;
}