html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #F0FFE9;
}

#wrapper {
  min-height: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#header {
  background-color: #DBFFB8;
  color: #000;
  height: 70px;
  width: 100%;
  padding: 10px;
}

h1 {
  font-size: 50px;
  font-weight: 900;
  text-align: center;
  margin-top: 4px;
}

#content-section {
  padding: 10px;
  padding-bottom: 70px; /* Height of the footer */
}

#add-new-item {
  text-align: center;
  width: 300px;
  color: #000;
  font-weight: 900;
  margin-top: 10px;
  margin-bottom: 10px;
}

li {
  width: 650px;
  height: 40px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  text-align: center;
  line-height: 39px;
  display: table;
  padding-left: 20px;
  text-align: left;
  font-size: 30px;
  font-style: italic;
  background-color: #FF0000;
}

/*.item-name {
  font-size: 30px;
  font-style: italic;
  display: none;
} */

/*.red {
  background-color: #FF0000;
  color: #000;
}*/

.green {
  background-color: rgb(6, 202, 6);
}

.delete {
  cursor: pointer;
  float: right;
  margin-right: 10px;
  font-size: 30px;
  font-style: normal;
}

#footer {
  position: absolute;
  height: 70px; /* Height of the footer */
  width: 100%;
  background-color: #DBFFB8;
  color: #000;
  bottom: 0;
}

.start-a-new-list {
	font-size: 20px;
	width: 200px;
	margin-top: 20px;
}